.paragraph-1{
    color:greenyellow;
}
.paragraph-2{
    color:pink;
}
.paragraph-3{
    color:brown;
}

#My-student-number {
    background-color:dodgerblue;
}
body{
    background-color:cornflowerblue
}

